<div class="col-md-10 col-md-offset-1">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>User Name</th>
        <th>Active Address</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'user', collection: @users %>
    </tbody>
  </table>
</div>
